{% extends 'timeCalculator/base.html' %}
{% block content %}
<!-- Container (Home) -->
<div id="home" class="container text-center">
  <br>
  <h1>How fast is the light?</h1>
    <form method="POST" class="post-form">{% csrf_token %}
      <div class="form-inline">
        <div class="form-group">
          <input id="distance" class="control-label" type="number" name="distance" min="0" step="any" placeholder="Enter the distance: "/></p>
        </div>
        <div class="form-group">
          <label>m
            <input id="isMeters" class="control-label" type="radio" name="isMeters" value="true" />
          </label>
          <label>Km
            <input id="isMeters" class="control-label" type="radio" name="isMeters" value="false" checked="checked"/>
          </label>
        </div>
       </div>
       <button type="submit" class="save btn btn-default"><span class="glyphicon glyphicon-time"></span> GO!</button>
    </form>
    {% if result %}
        <h2>{{result}}</h1>
    {% endif %}
</div>

<br>
<br>
<br>


<!-- Container (Theory) -->
<div id="theory" class="bg-1">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3 class="text-center">THEORY</h3>
        <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer mattis, lacus id pellentesque pretium, purus tortor fringilla metus, ac faucibus libero purus vitae turpis. Phasellus tempor nulla ipsum, sit amet congue ligula sagittis id. Proin eu accumsan elit, sit amet eleifend velit. Integer a lorem eu risus pulvinar fermentum mattis et lacus. Vivamus dui eros, facilisis dignissim nibh sed, suscipit condimentum est. Nam lobortis mollis leo. Nulla in nunc congue, vehicula odio a, sodales nunc. Quisque vehicula magna velit, sed cursus quam ultrices ut. Nullam faucibus turpis ut leo porta, a lobortis augue semper. Vestibulum et finibus risus. Proin in ante sit amet lectus condimentum rhoncus ut eget magna.

Fusce mauris lacus, consectetur et efficitur nec, dictum in metus. Integer eu dui justo. Etiam porta, elit nec consectetur euismod, ante mi molestie sem, quis porta dui nulla non orci. Sed lectus dolor, condimentum ut ornare sit amet, bibendum a lectus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent a ex vel risus pellentesque cursus porta eget nulla. Nam ac tincidunt turpis. Curabitur nulla tellus, convallis et massa et, fringilla egestas diam. In ut leo neque. Vivamus auctor dui in est cursus dapibus. Nulla sodales porttitor mauris, non sollicitudin felis. Nulla porta erat dolor, et porta lectus pulvinar ac. Integer arcu eros, cursus eu ullamcorper vel, tincidunt et ligula. Sed mi dolor, finibus vitae blandit rutrum, placerat eget felis. Cras enim dui, vestibulum nec imperdiet at, semper sit amet est. In imperdiet risus enim, ut aliquam dolor malesuada semper.

Ut semper dui id nibh vestibulum, et ornare nunc sodales. Integer semper arcu non justo venenatis egestas. Morbi porta nulla quis dignissim congue. Vestibulum ac ultricies risus, ac condimentum elit. Suspendisse malesuada molestie sapien, in ornare neque faucibus at. Sed quis massa at magna fermentum ultrices in porttitor enim. Nullam pretium, tortor volutpat interdum aliquet, ante nisl auctor mauris, eu tincidunt lectus elit in sem. Pellentesque eu nulla nec arcu elementum ultrices et in odio. Cras semper mattis lectus id varius. Vestibulum bibendum, nisl in dignissim tempus, neque odio commodo odio, id ultricies velit tellus id orci. Vestibulum congue eros nec quam viverra tempus. In porta, tellus auctor faucibus dignissim, justo risus pellentesque sem, vitae ultricies tellus nibh vel lorem. Praesent venenatis, neque ac sagittis mattis, ipsum ex tempor tellus, quis congue nibh urna id orci. In non odio hendrerit, euismod tortor in, tristique ante.

Sed lorem dui, facilisis non lorem pharetra, hendrerit aliquam leo. Cras mollis, purus eu condimentum condimentum, arcu ligula elementum justo, non varius nisl tellus sed urna. Nunc quis fermentum purus. Pellentesque consectetur id est sed semper. Nam sem dui, pharetra sit amet arcu eu, gravida laoreet nibh. Duis venenatis vestibulum lorem vel euismod. Duis ultrices magna lobortis hendrerit venenatis. In cursus laoreet eros, ut imperdiet lorem egestas ac.

Vestibulum finibus ante at ullamcorper egestas. Cras commodo imperdiet tempus. Suspendisse non nisi ex. Sed auctor justo dolor, sit amet luctus velit dictum sit amet. Donec commodo, eros id pharetra ultricies, ipsum metus venenatis nisi, quis hendrerit risus ante in tellus. Sed varius libero ipsum, congue viverra elit tempor ac. Nulla posuere tellus a orci pellentesque vestibulum. Morbi ultricies sagittis sapien. Aenean pulvinar venenatis velit vel porttitor. Vivamus sollicitudin metus ut justo dignissim, vel mattis lectus eleifend. Pellentesque feugiat, felis sit amet placerat mattis, metus nisi molestie dolor, non pellentesque mi metus vitae leo.</p>
      </div>
      <div class="col-md-6">
        <a data-pin-do="embedPin" data-pin-lang="pt" data-pin-width="medium" data-pin-terse="true" href="https://br.pinterest.com/pin/322640760790387929/"></a>
      </div>
    </div>
  </div>
</div>

<!-- Footer -->
<footer class="text-center">
  <a class="up-arrow" href="#myPage" data-toggle="tooltip" title="TO TOP">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a><br><br>
  <!--<p>Bootstrap Theme Made By <a href="http://www.w3schools.com" data-toggle="tooltip" title="Visit w3schools">www.w3schools.com</a></p>-->
</footer>

<script>
$(document).ready(function(){
  // Initialize Tooltip
  $('[data-toggle="tooltip"]').tooltip();
  // Add smooth scrolling to all links in navbar + footer link
  $(".navbar a, footer a[href='#myPage']").on('click', function(event) {
    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {
      // Prevent default anchor click behavior
      event.preventDefault();
      // Store hash
      var hash = this.hash;
      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 900, function(){
        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    } // End if
  });
})
</script>
{% endblock %}
