{% extends 'timeCalculator/base.html' %} {% block content %}
<!-- Container (Home) -->
<div id="home" class="container text-center">
    <br>
    <h1>How fast is the light?</h1>
    <form method="POST" class="post-form">{% csrf_token %}
        <div class="form-inline">
            <div class="form-group">
                <input id="distance" class="control-label" type="number" name="distance" min="0" step="any" placeholder="Enter the distance: " /></p>
            </div>
            <div class="form-group">
                <input id="isMeters" class="control-label" type="radio" name="isMeters" value="true" />
                <span class="spanColor">m</span>
                <input id="isMeters" class="control-label" type="radio" name="isMeters" value="false" checked="checked" />
                <span class="spanColor">Km</span>
            </div>
        </div>
        <div style="float: left;" class="col-sm-offset-5">
            <button type="submit" class="save btn btn-default"><span class="glyphicon glyphicon-time"></span> GO!</button>
        </div>
        <br>
        <br>
    </form>
    {% if result %}
    <h2>{{result}}</h2> {% endif %}
</div>

<br>
<br>
<br>

<!-- Container (Theory) -->
<div id="theory" class="bg-1">
    <div class="container">
        <div id="theoryText" class="row">
            <h3 class="text-center">THEORY</h3>
            <div>
                <p class="text-center">
                    <p class="lead">How does it work??</p>
                    <span style="">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              To demonstrate, use as an example a distance between the earth and a sun which is approximately 149.597.871.000m, the speed of light in the vacuum is a known constant which is approximately 299.792.458m/s. Having this information we just apply the formula and we will have the result in seconds.
              <br>
              <br>
              <strong>Δt = ΔxVm= 149.597.871.000/299.792.458 = 499,00478s</strong>
              <br>
              <br>
              <b>Warning!!</b>
              It is important to remember that if you want to have the result in minutes or hours it is necessary to make a conversation taking care of the bases because our system of measurement of time works with base 60 and the calculations are in base 10, that is to say ...
              <br>
              <br>
              <strong>Δt=499=480+19=8min 19s</strong>
            </span>
                </p>
            </div>
            <br>
            <br>
        </div>

        <div class="row">
            <div class="col-xs-6">
                <a data-pin-do="embedPin" data-pin-lang="pt" data-pin-width="medium" href="https://br.pinterest.com/pin/322640760790395291/"></a>
            </div>
            <div class="col-xs-6">
                <a data-pin-do="embedPin" data-pin-lang="pt" data-pin-width="medium" data-pin-terse="true" href="https://br.pinterest.com/pin/322640760790387929/"></a>
            </div>
        </div>
    </div>
</div>

<!-- Footer -->
<footer class="text-center">
    <a class="up-arrow" href="#myPage" data-toggle="tooltip" title="TO TOP">
        <span class="glyphicon glyphicon-chevron-up"></span>
    </a><br><br>
    <!--<p>Bootstrap Theme Made By <a href="http://www.w3schools.com" data-toggle="tooltip" title="Visit w3schools">www.w3schools.com</a></p>-->
</footer>

<script>
    $(document).ready(function() {
        // Initialize Tooltip
        $('[data-toggle="tooltip"]').tooltip();
        // Add smooth scrolling to all links in navbar + footer link
        $(".navbar a, footer a[href='#myPage']").on('click', function(event) {
            // Make sure this.hash has a value before overriding default behavior
            if (this.hash !== "") {
                // Prevent default anchor click behavior
                event.preventDefault();
                // Store hash
                var hash = this.hash;
                // Using jQuery's animate() method to add smooth page scroll
                // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
                $('html, body').animate({
                    scrollTop: $(hash).offset().top
                }, 900, function() {
                    // Add hash (#) to URL when done scrolling (default click behavior)
                    window.location.hash = hash;
                });
            } // End if
        });
    })
</script>
{% endblock %}
