{% extends 'timeCalculator/base.html' %} {% block content %}

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#home"><span class="glyphicon glyphicon-time"></span>HowFastIsTheLight?</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#home">INICIO</a></li>
                <li><a href="#theory">TEORIA</a></li>
                <li><a href="/"><b>EN-US</b></a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="backgroundImg">
    <!-- Container (Home) -->
    <div id="home" class="container text-center">
        <br>
        <h1>O quão rápida é a luz?</h1>
        <form method="POST" class="post-form">{% csrf_token %}
            <div class="form-inline">
                <div class="form-group">
                    <input id="distance" class="control-label" type="number" name="distance" min="0" step="any" placeholder="Digite a distância: " /></p>
                </div>
                <div class="form-group">
                    <input id="isMeters" class="control-label" type="radio" name="isMeters" value="true" />
                    <span class="spanColor">m</span>
                    <input id="isMeters" class="control-label" type="radio" name="isMeters" value="false" checked="checked" />
                    <span class="spanColor">km</span>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="save btn btn-default"> OK </button>
            </div>
            <br>
            <br>
            <div class="static">
                {% if result %}
                <h2>{{result}}</h2> {% endif %}
            </div>
        </form>
    </div>

    <!-- Container (Theory) -->
    <div id="theory" class="bg-1">
        <div class="container">
            <div id="theoryText" class="row">
                <h3 class="text-center">TEORIA</h3>
                <div>
                    <p class="text-center">
                        <p class="lead">Como isso funciona??</p>
                        <span style="">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    Para demonstrar, vamos utilizar como exemplo a distância entre a terra e o sol que é de aproximadamente 149597871000m, a velocidade da luz no vácuo é uma constante conhecida que é de aproximadamente 299792458m/s. Tendo posse destas informaçãos basta aplicar a fórmula e teremos o resultado em segundos.
                    <br>
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <strong>Δt = ΔxVm= 149597871000m/299792458m/s = 499.00478s</strong>
                    <br>
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <b>Atenção!!</b>
                    É importante lembrar que se você quiser ter o resultado em horas e minutos é necessário fazer uma conversão, tendo cuidado com as bases, pois, nosso sistema de medição de tempo funciona com base 60 e os cálculos estão na base 10, isto quer dizer...
                    <br>
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <strong>Δt = 499 = 480 + 19 = 8min 19s</strong>
                    Tempo que a luz demora da terra até o sol.
                    <br>
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    Ou seja, 480/60 = 8 minutos, os 19 restantes são os segundos. Se apenas dividirmos o resultado por 60 teremos 8.316 a primeira vista pode parecer correto, mas, esse é o resultado em base 10 e não base 60, 8.316 minutos são totalmente diferentes de 8 minutos e 31 segundos!
                    <br>
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    Importante lembrar também, que as distâncias entre os planetas podem variar, pois, eles possuem orbitas elípticas, então o cálculo pode apresentar resultados bem diferentes dependendo de quando a distâncias utilizada foi medida.
                  </span>
                    </p>
                </div>
                <br>
                <br>
            </div>

            <div class="row">
                <div class="col-xs-6">
                    <a data-pin-do="embedPin" data-pin-lang="pt" data-pin-width="medium" href="https://br.pinterest.com/pin/322640760790388076/"></a>
                </div>
                <div class="col-xs-6">
                    <a data-pin-do="embedPin" data-pin-lang="pt" data-pin-width="medium" data-pin-terse="true" href="https://br.pinterest.com/pin/322640760790387929/"></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer -->
<footer class="text-center">
    <a class="up-arrow" href="#myPage" data-toggle="tooltip" title="TO TOP">
        <span class="glyphicon glyphicon-chevron-up"></span>
    </a><br><br>
    <!--<p>Bootstrap Theme Made By <a href="http://www.w3schools.com" data-toggle="tooltip" title="Visit w3schools">www.w3schools.com</a></p>-->
</footer>

<script>
    $(document).ready(function() {
        // Initialize Tooltip
        $('[data-toggle="tooltip"]').tooltip();
        // Add smooth scrolling to all links in navbar + footer link
        $(".navbar a, footer a[href='#myPage']").on('click', function(event) {
            // Make sure this.hash has a value before overriding default behavior
            if (this.hash !== "") {
                // Prevent default anchor click behavior
                event.preventDefault();
                // Store hash
                var hash = this.hash;
                // Using jQuery's animate() method to add smooth page scroll
                // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
                $('html, body').animate({
                    scrollTop: $(hash).offset().top
                }, 900, function() {
                    // Add hash (#) to URL when done scrolling (default click behavior)
                    window.location.hash = hash;
                });
            } // End if
        });
    })
</script>

{% endblock %}
